---
---

/* Override theme defaults */
// $brand-color: darken(red, 25%);
// $brand-color-light:     lighten($brand-color, 40%);
// $brand-color-dark:      darken($brand-color, 25%);

// $site-title-color:      $brand-color-dark;

// $text-color:            #111111;
// $background-color:      #fdfdfd;
// $code-background-color: #eeeeff;

// $link-base-color:       #2a7ae2;
// $link-visited-color:    darken($link-base-color, 15%);
// $link-hover-color:      $text-color;

// $border-color-01:       $brand-color-light;
// $border-color-02:       lighten($brand-color, 35%);
// $border-color-03:       $brand-color-dark;

// $table-text-color:      lighten($text-color, 18%);
// $table-zebra-color:     lighten($brand-color, 46%);
// $table-header-bg-color: lighten($brand-color, 43%);
// $table-header-border:   lighten($brand-color, 37%);
// $table-border-color:    $border-color-01;

$bread-color: #b37a4b;
$bread-color-light: lighten($bread-color, 40%);
$bread-color-highlight: lighten($bread-color, 10%);
$bread-color-super-light: lighten($bread-color, 48%);
$bread-color-dark: darken($bread-color, 25%);
$bread-color-super-dark: darken($bread-color, 50%);

$border-color-01: $bread-color-light;
$border-color-02: lighten($bread-color, 35%);
$border-color-03: $bread-color-dark;

$table-zebra-color:     lighten($bread-color, 46%);
$table-header-bg-color: lighten($bread-color, 43%);
$table-header-border:   lighten($bread-color, 37%);
$table-border-color:    $border-color-01;

$brand-color: $bread-color;

/* load _sass/minima.scss */
@import "minima";

/* Put any custom CSS here */
.site-nav .page-link {
  font-size: larger;
}

.site-header {
  // /Users/bthomas2622/Documents/bread-log/images/css/subtle_dots_brown_1.png
  background-color: $bread-color;
  min-height: 50px;
  border-top: 5px solid $border-color-03;
  border-bottom: 1px solid $border-color-01;
}

.page-content {
  background-color: $bread-color-light;
}

.wrapper {
  background-color: $background-color;
}

blockquote {
  border-left: 4px solid $border-color-01;
}

pre,
code {
  border: 1px solid $border-color-01;
}

table {
  border: 1px solid $table-border-color;
  tr {
    &:nth-child(even) {
      background-color: $table-zebra-color;
    }
  }
  th {
    background-color: $table-header-bg-color;
    border: 1px solid $table-header-border;
  }
  td {
    border: 1px solid $table-border-color;
  }
}

.post-title {
  padding-top: 10px;
}

.post-list-heading {
  padding-top: 10px;
} 

.page-content p a {
  text-decoration: solid underline $bread-color;
}

// .page-content p a:hover {
//   color: black;
//   text-decoration: solid underline $bread-color-super-dark;
// }

// .page-content p a:visited {
//   color: $bread-color-highlight;
//   text-decoration: solid underline $bread-color-highlight;
// }